mat-spinner{
  margin: auto;
}

.post{
  background-color: #ccdbdb;
}

.mensagemFinalFeed{
  padding: 3rem;
}

.mensagemFinalFeed p{
  text-align: center;
  font-size: 20px;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}
