mat-spinner{
  margin: auto;
}

.post{
  background-color: #ccdbdb;
}

.mensagemFinalFeed{
  padding: 3rem;
}

.mensagemFinalFeed p{
  text-align: center;
  font-size: 20px;
}

.updateLocalizacao{
  padding: 2rem;
  margin-bottom: 1rem
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.black{
  color:black;
}

.check {
  color: #8BC34A;
}

.icone{
  font-size: 2rem;
}

.semBorda{
  border: 0;
  background-color:#ccdbdb;
}
