<div class="container mb-3 rounded updateLocalizacao post">
  <form [formGroup]="form" (submit)="onAtualizarLocalizacao()">
    <div class="row">
      <div class="col-lg-1 col-2">
        <button type="button" (click)="getLocalizacao()" mat-icon-button style="width: 80%;">
          <mat-icon style="font-size: 34px" color="primary">location_on</mat-icon>
        </button>
      </div>
      <div class="col-lg-10 col-10">
        <div class="form-group">
          <input
            type="text"
            placeholder="localização"
            class="form-control rounded-pill"
            name="localizacao"
            formControlName="localizacao"
            value="">
        </div>
      </div>
      <div class="col-lg-1">
        <button mat-button mat-raised-button color="primary">Atualizar</button>
      </div>
    </div>
  </form>
</div>
<div
  infinite-scroll
  [infiniteScrollDistance]="infiniteScrollDistance"
  [infiniteScrollThrottle]="infiniteScrollThrottle"
  (scrolled)="onScroll()">
  <div *ngIf="!isPrimeiroLoading">
    <div *ngFor="let post of posts" class="container mb-3 rounded post">
      <div class="row pt-1">
        <div class="col-lg-1 col-2">
          <img src="{{post.pessoa.imagem ? post.pessoa.imagem : '../../../assets/profile.png'}}" [alt]="post.pessoa.nome" class="img-fluid rounded-circle">
        </div>
        <div class="col-lg-7 col-4">
          <h4 class="mt-2">{{post.pessoa.nome}}</h4>
          <h7>{{formataData(post.data)}}</h7>
        </div>
        <div class="col-lg-4 col-6">
          <div class="m-md-3 m-2 d-inline-block float-right">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon style="font-size: 34px" color="primary">location_on</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="imagem-localizacao">
              <img src="http://maps.googleapis.com/maps/api/staticmap?key={{apiKey}}&markers=color:red%7C{{post.localizacao}}&zoom=15&size=600x300">
            </mat-menu>
          </div>
          <h5 class="localizacao mt-md-4 mt-3 d-inline-block float-right" style="font-size: 16px">Está a {{post.distanciaDaPessoaLogada}} de você</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" class="mt-2" selected>{{post.tema.nome}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="row mt-2">
      </div>
      <div class="row mr-2 ml-2">
        <div class="col-12">
          <p class="mt-2">{{post.corpo}}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <img
          *ngIf="post.imagem"
          src="{{post.imagem}}"
          class="img-fluid mb-2"
          style="max-height: 380px">
      </div>
      <div class="row justify-content-end mr-2">
        <button (click)="openDialog(post.id)" class="semBorda">
          {{post.confirmacaoDeInfo.length}}
        </button>
        <button
          (click)="onConfirmarPost(post.id)"
          [ngClass]="{'black' : !post.confirmadaPeloUsuarioLogado, 'check': post.confirmadaPeloUsuarioLogado}"
          class="semBorda">
          <mat-icon class="icone"> check_circle_outline </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<mat-spinner *ngIf="isCarregando"></mat-spinner>
<div *ngIf="fim || semPosts" class="container mb-3 rounded mensagemFinalFeed post">
  <div class="row justify-content-center">
    <div class="col-md-4" style="align-content: center">
      <img src="./assets/civitas-logo.png" alt="logo">
    </div>
    <div class="col-md-6">
      <p>
        Por hora essas são as publicações da sua região.
      </p>
      <p>
        Volte mais tarde!
      </p>
    </div>
  </div>
</div>
