<div class="container">
  <form>
    <div class="row">
      <img src="../assets/profile.png">
      <div>
        <h1 class="d-block">Matheus Barraboni Cabrini</h1>
        <div class="form-group">
          <label for="profissaoInput">Tema</label>
          <select name="" id="profissaoInput" class="form-control" name="profissao" ngModel>
            <option value="">Selecione</option>
            <option>Engenheiro</option>
            <option>Professor</option>
            <option>Químico</option>
            <option>Zoólogo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <img src="../assets/localizacao.jpg" class="imagem">
      <div class="form-group">
        <input type="text" placeholder="localização" class="form-control" name="localizacao">
      </div>
    </div>
    <div class="row">
      <input type="text" placeholder="Digite sua informação" class="form-control" name="texto">
    </div>
    <div class="row">
      <button>Foto</button>
      <button>Publicar</button>
    </div>

  </form>
</div>
