<div class="container">
  <mat-spinner *ngIf='isCarregando'></mat-spinner>
  <form [formGroup]="form" (submit)="onSalvarPost()" *ngIf='!isCarregando'>
    <div class="row mt-4">
      <div class="col-lg-1 col-2">
        <img [src]="user.imagem" [alt]="user.nome" class="img-fluid mt-4 rounded-circle"/>
      </div>
      <div class="column col-lg-11 col-10">
        <h4 class="d-block ">{{user.nome}}</h4>
        <div class="form-group">
          <label for="temaInput" class="form-label">Tema</label>
          <select
            id="temaInput"
            class="form-control rounded-pill"
            name="tema"
            formControlName="tema">
            <option value="">Selecione</option>
            <option *ngFor="let tema of temas">{{tema.nome}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-1 col-2">
        <button type="button" (click)="getLocalizacao()" mat-icon-button style="width: 80%;">
          <mat-icon style="font-size: 34px" color="primary">location_on</mat-icon>
        </button>
      </div>
      <div class="col-lg-11 col-10">
      <div class="form-group">
        <input
          type="text"
          placeholder="localização"
          class="form-control rounded-pill"
          name="localizacao"
          formControlName="localizacao"
          value=""
        >
      </div>
    </div>
  </div>
    <div class="row mt-2">
      <div class="col-12">
        <textarea class="form-control rounded-3"
          aria-label="Digite sua informação aqui"
          placeholder="Digite sua informação aqui"
          name="corpo"
          formControlName="corpo">
        </textarea>
      </div>
    </div>
    <div class="row mt-2 justify-content-md-between">
      <div class="col-2" color="secondary">
        <button type="button" mat-icon-button (click)="selecionaArquivo.click()">
          <mat-icon style="font-size: 50px" color="primary">add_photo_alternate</mat-icon>
        </button>
        <input type="file" (change)="onImagemSelecionada($event)" #selecionaArquivo>
      </div>
      <div class="col">
        <div class="col-2">
          <div class="imagem-preview">
            <img
              [src]="previewImagem"
              class='img-fluid'
              *ngIf="previewImagem && previewImagem !== ''"
              [alt]="postForm"
            >
          </div>
        </div>
      </div>
      <div class="col-1 mr-xl-3 mr-lg-4 mr-md-5">
        <button class="btn btn-primary rounded-pill">Publicar</button>
      </div>
    </div>
  </form>
</div>
