<div class="row mt-2">
  <div class="col-lg-1 col-2">
    <button type="button" (click)="getLocalizacao()" mat-icon-button style="width: 80%;">
      <mat-icon style="font-size: 34px" color="primary">location_on</mat-icon>
    </button>
  </div>
  <div class="col-lg-11 col-10">
  <div class="form-group">
    <input
      type="text"
      placeholder="localização"
      class="form-control rounded-pill"
      name="localizacao"
      formControlName="localizacao"
      value=""
    >
  </div>
</div>
