  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      
    <div mat-menu-item>
      <a routerLink="/"><mat-icon >home</mat-icon>Home</a>
    </div>
    <div mat-menu-item>
      <a routerLink="novoPost"><mat-icon >bookmark_add</mat-icon>Nova Publicação</a>
    </div>
    <div mat-menu-item>
      <a routerLink=""><mat-icon>account_circle</mat-icon>Meu Perfil</a>
    </div>
    <div mat-menu-item>
      <a routerLink=""><mat-icon >settings</mat-icon>Configurações</a>
    </div>
    <div mat-menu-item>
      <a routerLink=""><mat-icon >headset_mic</mat-icon>Help</a>
    </div>
  </mat-menu>
